  <style>

    /* 메인(페이지 전체) */
    body { margin: 0; }

    .site {
      width: 1920px;
      height: 1480px;             
      background: rgba(255,255,255,1);
      overflow-y: auto;            /* 스크롤 오버플로: 세로 */
      position: relative;
    }
    
    .header{
        width: 1920px;
        height: 120px;
        position: relative;
    }


    /* ───────── Nav 영역 ───────── */
    .nav {
      width: 1920px;
      height: 30px;
      background: rgba(0,81,140,1); 
      position: relative;          
    }

    /* List (양식) */
    .nav-list {
      width: 188.8px;
      height: 28px;
      position: absolute;
      left: 1455.2px;
      top: 2px;
    }

    /* 공통 텍스트 스타일 (양식) */
    .nav a {
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 350;              /* DemiLight */
      font-size: 12px;
      line-height: 1;                /* 100% */
      letter-spacing: 0;
      color: rgba(255,255,255,1);
      text-decoration: none;
      display: flex; align-items: center;
      height: 17px;
      position: absolute;
    }

    /* Divider 공통 (양식) */
    .divider {
      position: absolute;
      width: 1px;
      height: 11px;
      top: 4px;
      background: rgba(255,255,255,0.3);
    }

  
    .item-home {
      position: absolute;
      width: 52.45px;
      height: 20px;
      left: 0px;
      top: 4px;
    }

    .item-home .divider {
      left: 51.46px; 
    }

    .item-home .link {
      width: 34.75px;
      height: 17px;
      left: 0px; top: 2px;
    }

    
    .item-sitemap {
      position: absolute;
      width: 62.17px;
      height: 20px;
      left: 67.46px;
      top: 4px;
    }
    .item-sitemap .divider {
      left: 61.17px; 
    }
    .item-sitemap .link {
      width: 44.5px;
      height: 17px;
      left: 0px; top: 2px;
    }

    
    .logout-link {
      position: absolute;
      width: 44.5px; 
      height: 17px;
      left: 144.63px; 
      top: 6px;    
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 350;
      font-size: 12px;
      line-height: 1;
      letter-spacing: 0;
      color: rgba(255,255,255,1);
      text-decoration: none;
      display: flex; align-items: center;
    }

    .header-bg{
        width: 1920px;
        height: 90px;
        top: 30px;
        background: rgba(31, 40, 56, 1);
        position: absolute;
        
    }
    .link-admin-logo{
        position: absolute;
        width: 352px;
        height: 52px;
        top: 16px;
        left: 260px;
    }

    .main{
        position: absolute;
        width: 1400px;
        height: 1300px;
        top: 120px;
        left: 260px;
    }

    .aside{
        position: absolute;
        width: 270px;
        height: 1300px;
        left: 1px;
        border-left: 1px solid rgba(192, 192, 192, 1);
        background-color: #f0f0f0;
        /* background: (이미지) ;   ---> 이미지 있으면 대체. 이미지가없음.
        background-size: cover;  */
    }
    .aside-list{
        position: absolute;
        width: 269px;
        height: 842px;
        left: 1px;
    }
    
    /* 공통 */
    .aside-item{
        position: absolute;
        width: 269px;
        left: 0;
    }
    
    /* 각 아이템 */
    .item-1{top: 16px; height: 102px;}
    .item-2{top: 118px; height: 222px;}
    .item-3{top: 340px; height: 132px;}
    .item-4{top: 472px; height: 102px;}
    .item-5{top: 574px; height: 252px;}

    .aside-link{
        position: relative;
        width: 269px;
        height: 42px;
       

    }
    .aside-icon{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 12.19px;
        left: 26px;
    }
    .aside-title{
        position: absolute;
        height: 24px;
        left: 46px;
        top: 9px;
        
        white-space: nowrap; 
        
        font-family: "Noto Sans KR"; 
        font-weight: 700;                        
        font-style: bold;                   
        font-size: 16px;                      
        /* line-height: 42px;    */
        letter-spacing: 0;                       
        color: rgba(34, 34, 34, 1);            
        text-align: center;                        
        
    }
    .title-1{ width: 62.91px; } /* 환경설정 */
    .title-2{ width: 62.91px; } /* 학사운영 */
    .title-3{ width: 62.91px; } /* 인사관리 */
    .title-4{ width: 84.83px; } /* 대학 및 학과 */
    .title-5{ width: 77.55px; } /* 게시판 관리 */

    .aside-ordered-list{
        position: relative;
        width: 269px;
        top: 42px;
    }

    .ordered-1 { height: 60px;  }  /* 환경설정 */
    .ordered-2 { height: 180px; }  /* 학사운영 */
    .ordered-3 { height: 90px;  }  /* 인사관리 */
    .ordered-4 { height: 60px;  }  /* 대학 및 학과 */
    .ordered-5 { height: 210px; }  /* 게시판 관리 */

    .aside-ordered-list .ordered-link{
        position: relative;
        display: block;
        width: 269px;
        height: 30px;
        line-height: 30px;

        font-size: 14px;           
        font-weight: 350;           
        letter-spacing: 0;          
        color:rgba(17,17,17,1);
        text-decoration: none;  
           

        padding-left: 60px;        
        
    }

    .aside-ordered-list .ordered-link::before{
        content: "·";
        position: absolute;
        left: 46px;                
        top: 0;
        height: 30px;

        
        letter-spacing: 0; 
        line-height: 30px;
        font-size: 14px;
        color: rgba(17,17,17,1);
    }

    .section{
        position: absolute;
        width: 1130px;
        height: 1300px;
        left: 270px;
    }

    .section-container{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background: transparent; /* 기본배경*/
    }

    .footer{
        position: absolute;
        width: 1920px;
        height: 60px;
        top: 1420px;
        background: rgba(25, 32, 45, 1);
    }

    .footer-text{
        position: absolute;
        width: 435.23px;
        height: 17px;
        left: 260px;
        top: 22px;

        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 350;           /* DemiLight */
        font-size: 12px;
        line-height: 1;             /* 100% */
        letter-spacing: 0;
        color: rgba(255,255,255,1);
        white-space: nowrap;
        margin: 0;                  /* 여백 방지 */
    }

    
  </style>